CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/fedevel/mx6tinyrex/mx6tinyrexprorecovery.cfg,MX6Q,DDR_SIZE=SZ_1G,ENV_IS_IN_SPI_FLASH,MODULE_TYPE_PREFIX=\"imx6\",MODULE_TYPE_POSTFIX=\"pro\""
CONFIG_ARM=y
CONFIG_TARGET_MX6TINYREX=y
CONFIG_DM=y
CONFIG_DM_THERMAL=y
